.settings
target
*/.settings
*/target
**/*/.settings
**/*/target
**/*/dependency-reduced-pom.xml
pom.xml~
pom.xml.bak
.project
.classpath
README.md~
*.iml
.idea/
*.ipr
*.iws
.DS_Store
