body {
	font-family: Verdana;
	font-size: 10pt;
}

.ObjectBrace {
	color: #00AA00;
	font-weight: bold;
}

.ArrayBrace {
	color: #0033FF;
	font-weight: bold;
}

.PropertyName {
	color: #CC0000;
	font-weight: bold;
}

.String {
	color: #007777;
}

.Number {
	color: #AA00AA;
}

.Boolean {
	color: #0000FF;
}

.Function {
	color: #AA6633;
	text-decoration: italic;
}

.Null {
	color: #0000FF;
}

.Comma {
	color: #000000;
	font-weight: bold;
}

PRE.CodeContainer {
	display: inline-block;
	padding: 10px;
	border-style: dotted;
	border-width: 1px;
	border-color: #999;
	background-color: #DDF;
}

PRE.CodeContainer img {
	cursor: pointer;
	border: none;
	margin-bottom: -1px;
}
