.settings
target
*/.settings
*/target
**/*/.settings
**/*/target
dependency-reduced-pom.xml
dependency-reduced-pom.xml.bak
pom.xml~
pom.xml.bak
.project
.classpath
README.md~
*.iml
.idea/
*.ipr
*.iws
.DS_Store
/webcam-capture-drivers/driver-raspistill/jgoodies-forms-1.8.0.jar
/webcam-capture-drivers/driver-raspistill/jgoodies-forms-1.8.0-sources.jar
/webcam-capture-drivers/driver-raspistill/miglayout15-swing.jar
/webcam-capture-drivers/driver-raspistill/miglayout-src.zip
